<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>Welcome!</h2>
            <a href="/constants">Constant</a>
            <a href="/roles">Roles</a>
            <a href="/members">Members</a>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>