<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h1>Add New Church</h1>
        <div class="create-blog content">
            <form action="/churches" method="POST">
                <label for="name">Church Name</label>
                <input type="text" id="name" name="name" required>
                <!-- <label for="title">Church Title</label>
                <input type="text" id="title" name="title" required> -->
                <label for="founded">Date Founded</label>
                <input type="date" id="founded" name="founded" required>
                <!-- <label for="address1">Address1</label>
                <input type="text" id="address1" name="address1" >
                <label for="address2">Address2</label>
                <input type="text" id="address2" name="address2" > -->
                <label for="city">City</label>
                <input type="text" id="city" name="city" >
                <!-- <label for="state">State</label>
                <input type="text" id="state" name="state" >
                <label for="zipcode">Zip Code</label>
                <input type="text" id="zipcode" name="zipcode" >-->
                <label for="country">Country</label>
                <input type="text" id="country" name="country" > 
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" >
                <label for="email">Email</label>
                 <input type="email" id="email" name="email" >
                <!--<label for="parent">Parent Church</label>
                <input type="text" id="parent" name="parent" >
                <label for="picture">Picture</label>
                <input type="text" id="picture" name="picture" > -->
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>