<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1>Add New Church</h1>
        <div class="create-blog content">
            <form action="/churches" method="POST">
                <label for="name">Church Name</label>
                <input type="text" id="name" name="name" required>
                <label for="tagName">Tag Name</label>
                <input type="text" id="tagName" name="tagName" placeholder="Example, UpperRoomChurch; No spaces allowed" required>
                <label for="founded">Date Founded</label>
                <input type="date" id="founded" name="founded" value="<%= new Date().toISOString().substr(0,10) %>" required>
                <label for="city">City</label>
                <input type="text" id="city" name="city" >
                <label for="country">Country</label>
                <input type="text" id="country" name="country" > 
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" >
                <label for="email">Email</label>
                 <input type="email" id="email" name="email" >
                <input type="hidden" id="status" name="status"  value="Active" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>